<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        html, body {
            height: 100%;
            overflow: hidden;
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    {% if "google" in enabledAuthPlugins %}
        <h3>Google login</h3>
        <p>
            <a id="google-login-link" href="#"><img  src="{{pathPrefix}}/assets/img/logo/google_signin.png" /></a>
        </p>
    {% endif %}

    {% if "ldap" in enabledAuthPlugins %}
        <h3>LDAP login</h3>
        <p>
            <form method="post" action="login/ldap">
                <label for="ldap-username">Username</label>
                <input id="ldap-username" type="text" name="username" /><br>
                <label for="ldap-password">Password</label>
                <input id="ldap-password" type="password" name="password" /><br>
                <input type="submit" value="Connect" />
            </form>
        </p>
    {% endif %}

    {% if "couchdb" in enabledAuthPlugins %}
        <h3>CouchDB login</h3>
        <p>
        <form method="post" action="login/couchdb">
            <label for="couchdb-username">Username</label>
            <input id="couchdb-username" type="text" name="username" /><br>
            <label for="couchdb-password">Password</label>
            <input id="couchdb-password" type="password" name="password" /><br>
            <input type="submit" value="Connect" />
        </form>
        </p>
    {% endif %}
</body>
<script>
    if(window.name === 'loginPopup' && location.href.match(/auth\/login/i)) {
        window.close();
    }
    var google = document.getElementById('google-login-link');
    if(google) {
        google.onclick = function() {
            var url = 'login/google';
            doLogin(url);
        };
    }

    function doLogin(url) {
        if(window.parent !== window) {
            url += '/popup';
            var popup = window.open(url, 'loginPopup');
            var interval = setInterval(function () {
                if(popup.closed) {
                    clearInterval(interval);
                    window.location.reload();
                }
            }, 250)
        } else {
            window.location = url;
        }
    }
</script>
</html>
