@import 'bootstrap/dist/css/bootstrap.min.css';
@import './lib/animate.min.css';
@import './lib/light-bootstrap-dashboard.css';
@import 'font-awesome/css/font-awesome.min.css';

@import '@fontsource-variable/roboto/standard.css';
