<%
function configExists(conf) {
    if(!config.auth) return null;
    var last = config.auth;
    for(var j=0; j<conf.length; j++) {
        if(!last[conf[j]]) return null;
        last = last[conf[j]];
    }
    return last;
}
for(var i=0; i<authPlugins.length; i++){
    var conf;
    if(conf = configExists(authPlugins[i])) { %> <p><a href="<%= config.proxy %><%= conf.loginURL %>">Login with <%= authPlugins[i][0] %>  </a></p> <%

    }
}
%>
